/* color variables */
:root {
    --orange: rgba(255, 105, 0, 1);
    --black-footer: rgba(26, 26, 26, 1);
    --red: rgba(255, 0, 0, 1);
    --green: rgba(0, 128, 0, 1);
    --black-heart: rgba(30, 51, 76, 1);
    --white: #ffffff;

}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* GENERAL */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* HEADER */

header {
    background-color: var(--orange);
}

nav {
    padding: 1rem 0;
}

#logo {
    height: 1rem;
}

/* MAIN */

.card {
    width: calc((100% - 20px) / 3);
    padding: 10px;
}

.card img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: var(--black-footer);
}